.custom-button-delete {
    border-color: #03045E ; // Set the border color
    border-width: 2px ; // Set the border width
    border-style: solid ; // Set the border style to solid
    border-radius: 20px !important;
    background-color: transparent ; // Make the background transparent
    color: #03045E ; // Set the text color to the desired color
  }
  .custom-button-edit {
    border-color: #0077B6; // Set the border color
    border-width: 2px; // Set the border width
    border-radius: 20px !important;
    border-style: solid; // Set the border style to solid
    background-color: transparent; // Make the background transparent
    color: #0077B6; // Set the text color to the desired color
    margin-right: 10px; // Set the right margin
  }
  .custom-button-view {
    border-color: #00B4D8; // Set the border color
    border-width: 2px; // Set the border width
    border-style: solid; // Set the border style to solid
    border-radius: 20px !important;
    background-color: transparent; // Make the background transparent
    color: #00B4D8; // Set the text color to the desired color
    margin-right: 10px; // Set the right margin
  }
  .custom-button-new {
    border-color: #0077B6 ; // Set the border color
    border-width: 2px ; // Set the border width
    border-style: solid ; // Set the border style to solid
    background-color: #90E0EF ; // Set the background color
    color: #0077B6 ; // Set the text color to the desired color
    border-radius: 20px !important; // Set the border radius
  }
  .custom-button-refresh {
    border-color: #0077B6 ; // Set the border color
    border-width: 2px ; // Set the border width
    border-style: solid ; // Set the border style to solid
    background-color: #90E0EF ; // Set the background color
    color: #0077B6 ; // Set the text color to the desired color
    border-radius: 20px !important; // Set the border radius
  }
  .custom-button-save-back {
    border-radius: 20px !important; // Set the border radius
  }
  
  